/build
app/src/main/java/com/atom/bluetoothfitnessapplication/presentation/viewmodels/TestViewModel.java
app/src/main/java/com/atom/bluetoothfitnessapplication/presentation/fragments/FitnessMainFragment.java